<h1>Ratings</h1>

  <% @restaurants.each do |restaurant| %>
<div>
    <%= restaurant.name %>
    <%= restaurant.ratings.length %>
    
</div>
  <% end %>

<%= link_to "Back to restaurants", restaurants_path %>