<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="request_card_total">
      <h1>Restaurants:</h1>
    <div class="bg-primary bg-gradient text-white py-1 mb-3 rounded-3" style="width: 100px>
      <% @restaurants.each do |restaurant| %>
    </div>
        <%= render restaurant %>
  </div>
        <%= link_to "Show this restaurant", restaurant %>
        <p>
        </p>
      <% end %>
  <%= link_to "New restaurant", new_restaurant_path %>
</div>

